{% extends 'base.html'%}

{% block title %}
Create Post
{% endblock %}

{% block content %}
<main id="blog" class="container mt-2">
    <section id="blog-recent">
        <div class="container">
            <div class="card border-0 shadow-sm p-3 mb-3 bg-body rounded">
                <div class="card-body">
                    <h3 class="card-title">Recently on the news</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Montreal Man caught by the police, 2021</h6>
                    <p class="card-text" style="width: 50rem;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis reprehenderit sit natus,
                        dolore
                        totam amet autem explicabo excepturi quibusdam cupiditate! Modi iste repellendus in placeat,
                        suscipit ut rerum accusamus totam!
                    </p>
                    <a href="" class='btn btn-outline-primary'>Continue Reading...</a>
                </div>
            </div>
        </div>
    </section>
    <section id='create-post'>
        <div class="container">
            <div class="card border-0 shadow-sm p-3 mb-3 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-title">Take Actions</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Sign up</a>
                    {% include 'includes/post-modal.html' %}
                    <a href="{{url_for('schedule_page', dates='2022/23 season')}}"
                        class="btn btn-outline-primary btn-sm">Fixtures</a>
                </div>
            </div>
        </div>
    </section>
    <section id="recent-blogs">
        <div class="container">
            <h4>Blogs You have created.</h4>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% if current_user.is_authenticated %}
                {% for item in blog %}
                <div class="col" id="item-{{item.id}}">

                    <div class="card shadow-sm p-3 mb-3 bg-body rounded">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{item.post_title}}</h5>
                            <h6 class="card-subtitle mb-2 text-primary">{{item.date_created[:16]}}, Author:
                                <span style="color:rgb(255, 0, 221)">{{current_user.first_name}}</span>
                            </h6>
                            <p class="card-text">{{item.post_content}}</p>
                            <!-- heart icon for likes.  -->
                            <p id='pitem'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-heart" viewBox="0 0 16 16" id='item-{{item.id}}' aria-hidden='true'>
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>
                                <span id="likes-item-{{item.id}}">230</span>
                            </p>
                        </div>
                    </div>
                </div>

                {% endfor %}
                <script>
                    let btn = document.querySelectorAll('svg')
                    for (var i = 0; i < btn.length; i++) {
                        btn[i].addEventListener("click", function (event) {
                            console.log(this.getAttribute('fill'))
                            this.setAttribute('class', 'text-danger')

                            let val = document.getElementById(`likes-${this.id}`).innerHTML.valueOf(this.id);
                            document.getElementById(`likes-${this.id}`).innerHTML = parseInt(val) + 1

                        }, { once: true });
                    }
                </script>
                {% endif %}

            </div>

        </div>
    </section>

    <style>
        svg {
            cursor: pointer;
        }
    </style>
</main>
{% endblock %}