{% extends 'base.html' %} {% block title %} Home {% endblock %} 

<!-- inherit body elements from base -->
{% block content %}
    <main>
        <section class="py-5 text-center" id='stadium-background'>
            <div class="container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light mb-3 fw-bolder mt-4" id="typing"  style="font-family: 'Merriweather', serif;color:rgba(254, 154, 23, 0.941)"></h1>
                        <p class="lead text-white-50 fw-lighter mx-1 "  style="font-family: 'Merriweather', serif">
                            <span class="fw-bolder" style="font-family: 'Merriweather', serif;color:rgba(254, 154, 23, 0.941)">SPORKICK</span>
                            is a web application where you can find <br>
                            and register for re-creational local sport clubs. <br>
                            You can create blog, register for clubs and more.
                        </p>
                        <p class="mt-5">
                            <a href="#availableTeams" class="btn btn-outline-dark text-white-50 fw-bold my-2">View Teams</a>
                            {% if current_user.is_authenticated %}
                            <a href="{{url_for('blog.blog_page')}}" class="btn btn-outline-dark text-white-50 fw-bold my-2">View Blogs</a>
                            <a href="{{url_for('user.registration_page')}}" class="btn btn-outline-dark text-white-50 fw-bold my-2">Register</a>
                            
                            {% else %}
                            <a href="{{url_for('user.login_page')}}" class="btn btn-outline-dark text-white-50 fw-bold my-2">Log In</a>
                            <a href="{{url_for('user.create_account_page')}}" class="btn btn-outline-dark text-white-50 fw-bold my-2">Register</a>
                            {% endif %}
                            <!-- <a href="{{url_for('user.create_account_page')}}"class="btn btn-outline-dark text-white-50 fw-bold my-2">Register</a> -->
                        </p>
                        <script>
                            let para = document.getElementById('typing');
                            let text = 'SPORTKICK';
                            let typingSpeed = 20;
                            
                            let charIndex = 0;

                            function startTyping(){
                                if(charIndex <= text.length){
                                    document.getElementById('typing').innerHTML +=text.charAt(charIndex);
                                    charIndex++;
                                    setTimeout(startTyping, typingSpeed);
                                    typingSpeed++;

                                }
        
                            }
                            setInterval(window.addEventListener('DOMContentLoaded', function () {
                                startTyping()
                        
                            }), 1000)
                            
                        </script>
                    </div>
                </div>
        </div>
        </section>
        <!-- dsplay available teams for registration. -->
        <section id="team-display">
            <div class="album py-5 bg-light" id="available-teams">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id='available-teams'>
                        {% for item in available_teams %} {% include 'includes/team-more-info.html' %}
                        <div class="col">
                            <div class="card shadow-sm bg-body rounded h-100">
                                <svg class="bd-placeholder-img card-img-top" width="100%"
                                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#57595c" /><text x="50%" y="50%"
                                        fill="#eceeef" dy=".3em">{{item.name}}</text> 
                                
                                </svg>
                                <div class="card-body">
                
                                    <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dignissimos voluptatibus aliquam voluptate accusamus
                                        {{item.description}}</p>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="btn">
                                            <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#teamMoreInfo-{{item.id}}">
                                                More info
                                            </button> {% if current_user.is_authenticated %}
                                            <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#teamMoreInfo">
                                                <a href="{{url_for('user.registration_page')}}"
                                                    style="text-decoration: none;color:black">Register</a>
                                            </button> {%else %}
                                            <a href="{{url_for('user.create_account_page')}}"
                                                class='btn btn-sm btn-outline-secondary'>Signup</a> {% endif %}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Year Formed:
                                            <span style="color:blue">{{item.year_formed}}</span></small>
                                        <small class="text-muted">Remaining Spots: <span style="color:blue">
                                                {{item.max_players}}
                                            </span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}