<!DOCTYPE html>
<html>
  <head>
    <title>Sport Registration</title>
  </head>
  <body>
    <section>
      <h4 style="color:black;font-size:smaller">Dear {self.first_name},
      </h4>
      <p>
        We are pleased to inform you that, your registration is complete. <b>The
        relevant information regarding your registration </b> will appear soon in you
        profile. if you have any questions please feel free to reach us at
        <a href="http://127.0.0.1:5000/">Contact us</a> Thank you for using
      </p>
    </section>
  </body>
</html>
