{% extends 'base.html'%}

{% block title %}
 Reset Password

{% endblock %}

{% block content %}  

<div class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <form method="post">
                    {{reset_form.hidden_tag()}}
                    <div class='mb-2 form-group'>
                        {{reset_form.password.label}}
                        {{reset_form.password(class='form-control')}}
                    </div>
                    <div class='mb-2 form-group'>
                        {{reset_form.confirm_password.label}}
                        {{reset_form.confirm_password(class='form-control')}}
                    </div>
                    <div class='mb-2 form-group'>
                        {{reset_form.submit(class='btn-sm btn-info', id='reset')}}
                    </div>
                </form>
            </div>
        </div>

</div>

{% endblock %}