{% extends 'base.html'%}

{% block title %}
 Reset Password

{% endblock %}

{% block content %}  
<main>
<div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 font-monospace">
                <form method="post" class="mt-5">
                    {{reset_form.hidden_tag()}}
                    <div class='mb-2 form-group'>
                        {{reset_form.password.label}}
                        {{reset_form.password(class='form-control')}}
                    </div>
                    <div class='mb-2 form-group'>
                        {{reset_form.confirm_password.label}}
                        {{reset_form.confirm_password(class='form-control')}}
                    </div>
                    <div class='mb-2 form-group'>
                        {{reset_form.submit(class='btn-sm btn-info', id='reset')}}
                    </div>
                </form>
            </div>
        </div>

</div>
</main>
{% endblock %}