{% extends 'base.html' %}

{% block title %}
Add a Team
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">

                <h4>New Club Registration </h4>
                <form method="POST" class="">
                    {{team_form.hidden_tag()}}
                    
                    <div class=" form-group mb-2">
                        {{team_form.name.label}}
                        {{team_form.name(class="form-control")}}
                    </div>
                    <div class="form-group mb-2">
                        {{team_form.description.label}}
                        {{team_form.description(class="form-control")}}
                    </div>
                    <div class="form-group mb-2">
                        {{team_form.sports.label}}
                        {{team_form.sports(class="form-control")}}
                    </div>
                    <div class="form-group mb-2">
                        {{team_form.year_formed.label}}
                        {{team_form.year_formed(class="form-control")}}
                    </div>
                    <div class="form-group mb-2">
                        {{team_form.location.label}}
                        {{team_form.location(class="form-control")}}
            
                    </div>
                    <div class="form-group mb-2">
                        {{team_form.stadium.label}}
                        {{team_form.stadium(class="form-control")}}
                    </div>
                    <div class="form-group mb-2">
                        {{team_form.submit(class='btn btn-sm btn-block btn-primary')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}