<!-- Modal -->
<div class="modal fade" id="teamMoreInfo-{{item.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark" style="color:whitesmoke">
                <h3 style="font-size:medium">{{item.name}}</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size:normal">
                <div class="mb-3">
                    <p>
                        {{item.description}}
                    </p>
                </div>

                <div class="mb-3">
                    <p>
                        We specialize in {{item.sports}}
                    </p>
                </div>
                <button type="button" class="btn btn-info btn-sm">
                    <a href="{{url_for('registration_page')}}" style="text-decoration: none;color:black">Register</a>
                </button>
            </div>

            <div class="modal-footer justify-content-center" style="font-size: small;">
                <p>
                <ul>
                    <li>
                        Year Formed : <span style="color:blue">
                            {{item.year_formed}}
                        </span>
                    </li>
                </ul>
                </p>

                <p>
                <ul>
                    <li>
                        Spots Available: <span style="color:blue">
                            {{item.max_players}}
                        </span>
                    </li>
                </ul>
                </p>

            </div>
        </div>
    </div>
</div>