{% extends 'base.html' %} {% block title %} {% endblock %} {% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="tab p-4" style="color:beige">
                    <button class="btn btn-outline-primary border-0 btn-md btn-block mb-1" type="button"
                        id="account">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-lines-fill"
                            viewBox="0 0 16 16">
                            <path
                                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                        </svg>
                        Account</button>
                    <br>
                    <button class="btn btn-outline-primary border-0 btn-md btn-block" type="button"
                        id="blogs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-card-text"
                            viewBox="0 0 16 16">
                            <path
                                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                            <path
                                d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        Blogs</button>
                </div>
            </div>
            <!-- User profile information -->
            <div class="col-lg-8">
                <section id="section-account" class="tabcontent">
                    <form method="POST" class="form-rigister">
                        {{user_profile.hidden_tag()}}
                        <br>
                        <div class="ms-3">
                            <h3 class="text-info">ACCOUNT INFORMATION</h3>
                        </div>
                        {% if current_user.is_authenticated %}
                        <input id="current_username" name="username" type="hidden" value="{{current_user.username}}">
                        <fieldset disabled id="fieldset">
                            <div class="row ms-3">
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.id.label(class="form-label")}}
                                    {{user_profile.id(class="form-control", autocomplete='off',
                                    placeholder='Indentity',value=current_user.id)}}
                                </div>
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.username.label(class="form-label")}}
                                    {{user_profile.username(class="form-control",autocomplete='off',placeholder='User
                                    Name', value=current_user.username)}}
                                </div>
                            </div>
                            <div class="row ms-3">
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.first_name.label(class="form-label")}}
                                    {{user_profile.first_name(class="form-control",autocomplete='off',placeholder='Team
                                    Name', value=current_user.first_name)}}
                                </div>

                                <div class="col-lg-4 mb-3">
                                    {{user_profile.last_name.label(class="form-label")}}
                                    {{user_profile.last_name(class="form-control",autocomplete='off',placeholder='Team
                                    Name', value=current_user.last_name)}}
                                </div>
                            </div>
                            <div class="row ms-3">
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.email.label(class="form-label")}}
                                    {{user_profile.email(class="form-control", value=current_user.email)}}
                                </div>
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.date_of_birth.label(class="form-label")}}
                                    {{user_profile.date_of_birth(class="form-control",
                                    value=current_user.date_of_birth)}}
                                </div>
                            </div>
                            <div class="row ms-3">
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.team.label(class="form-label")}}
                                    {{user_profile.team(class="form-control", value=team.name)}}
                                </div>
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.sport.label(class="form-label")}}
                                    {{user_profile.sport(class="form-control", value=sport.sports_registered)}}
                                </div>
                             
                            </div>

                            <div class="row ms-3">
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.skill.label(class="form-label")}}
                                    {{user_profile.skill(class="form-control", value=sport.skills_level)}}
                                </div>
                                <div class="col-lg-4 mb-3">
                                    {{user_profile.post.label(class="form-label")}}
                                    {{user_profile.post(class="form-control", value=post)}}
                                </div>
                            </div>
                        </fieldset>
                        {% endif %}
                        <button type="button" class="btn btn-outline-dark" id="btn-field">
                            <a href="#user-profile" class="text-black" style="text-decoration: none;">Edit my data</a>
                        </button>
                    </form>
                    <script>
                        //Event to enable form fields to be editable.
                        let fieldset = document.getElementById('fieldset');
                        let eventBtn = document.getElementById('btn-field');
                        eventBtn.addEventListener('click', function (event) {
                            fieldset.removeAttribute('disabled');
                            this.innerHTML = 'Update'
                        })
                    </script>
                </section>

                <section id="section-blogs" style="display:none">
                    <h4>Blogs You have created.</h4>
                    <div class="">
                        {% if current_user.is_authenticated %} {% for item in blogs %}
                        <div class="">
                            <div class="card shadow-sm p-3 mb-3 bg-body rounded h-100">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">{{item.post_title}}</h5>
                                    <h6 class="card-subtitle mb-2 text-primary">
                                        {{item.date_created[:16]}}, Author:
                                        <span style="color: rgb(255, 0, 221)">{{current_user.first_name}}</span>
                                    </h6>
                                    <p class="card-text">{{item.post_content}}</p>
                                    <!-- heart icon for likes.  -->
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path
                                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                        </svg>
                                        <span id="likes-item-{{item.id}}">{{item.likes_count}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %} {% endif %}
                    </div>
                    <br>
    
                    <script>
                        // Event to handle how vertical tabs- tio display user information.
                        
                        let userData = document.getElementById('section-account');
                        let blog = document.getElementById('section-blogs');
                        let butBtn = document.getElementsByTagName('button');
                        for (let i = 0; i <= butBtn.length; i++) {
                            butBtn[i].addEventListener('click', function () {
                                if (this.id === 'account') {
                                    blog.style.display='none';
                                    userData.style.display='block';
                                }
                                else {
                                    userData.style.display = 'none';
                                    blog.style.display = 'block';
                                }
                            })

                        }
                    </script>
                </section>
            </div>
        </div>
    </div>
    <style>
        svg {
            cursor: pointer;
        }
    </style>
    {% endblock %}
</body>