{% extends "layout.html" %}
{% block body %}
<h1 class="fs-2 fw-bolder text-uppercase text-center mt-3 text-danger">sport Registraton form</h1>
<div class="container">
    <div class="d-grid justify-content-center row">
        <form class="ms-4 me-5" action="/register" method="post">
            <div class="row mb-3">
                <label for="playerName" class="form-label mt-2">First Name: </label>
                <div class="col-sm-8">
                    <input class="form-control ms-4" id="playerName" autocomplete="off" autofocus name="firstname"
                        placeholder="first name" type="text">
                    <label for="playerName" class="form-label mt-2">Last Name: </label>
                        <input class="form-control ms-4" id="playerName" autocomplete="off" autofocus name="lastname" placeholder="last name"
                            type="text">
                </div>
            </div>
            <div class="row mb-3">
                <label for="teamName" class="form-label">Team Name:</label>
                <div class="col-sm-6">
                    <input class="form-control ms-4" id="teamName" autocomplete="off" autofocus name="team"
                        placeholder="Manchester United" type="text">
                </div>
                <div class="col-sm-3">
                    <select class="form-select form-select-sm mb-3 ms-2" name="sports">
                        <option disabled selected value="">choose</option>
                        {% for sport in sports %}
                        <option value="{{sport}}">{{sport}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <fieldset class="ms-5">
                <legend class="col-form-label col-sm-2 pt-0">Experience</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="experience" value='Expert'>
                        <label class="form-check-label" for="expert">Expert</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="experience" value='Amateur'>
                        <label class="form-check-label" for="ameteur">Amateur</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="experience" value='Pro'>
                        <label class="form-check-label" for="professional">Professional</label>
                    </div>
                </div>
            </fieldset>
            <div class="d-grid gap-2 d-md-flex justify-content-sm-center">
                <button type="submit" class="btn btn-info btn-md me-sm-3" value="register">Register</button>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>
</div>
{% endblock %}