{% extends "layout.html"%}

{% block body %}

<div class="container">
    <div class="row">
        {% if session.firstname %}
        <p class="g-3 fs-3 font-monospace fw-bold">Hi, <span
                class="fs-3 font-monospace fw-lighter text-info"><u>@{{session.firstname.capitalize()}}</u></span>
            Welcome to
            SPORTY
        </p>
        {% else %}
        you are not logged in. <a href="/login">Log in</a>
        {% endif %}
        <hr>
        <ul class="nav fs-5">
            <li class="nav-item">
                <a class="nav-link active font-monospace fw-bold" aria-current="page" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active font-monospace fw-bold" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active font-monospace fw-bold" href="/posts">Create Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active font-monospace fw-bold" href="/registrants">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active font-monospace fw-bold" href="/searchteam">Search players</a>
            </li>

        </ul>
        <hr>
        <p>Recent post from, <span
                class="text-info"><u>@{{session.firstname.capitalize()}}</u></span></p>
        {% for title, content, date, authorid in polls %}
        <div class="col-md-3 g-2 shadow bg-body rounded">
            <div class="card h-100 border-0">
                <div class="card-header bg-transparent border-info">
                    <h4 class="fs-6">{{ title.capitalize() }}</h4>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0 fs-6 text-start">
                        <p>{{ content }}</p>
                        <i class="bi bi-star" id="star"></i>
                        <br>
                        <footer class="blockquote-footer">
                            <i class="bi bi-person"></i>
                            {{ authorid.capitalize() }}
                            <cite title="source title">
                                <i class="bi bi-calendar-check"></i>
                                {{date}}
                            </cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>

    {%endblock %}
</div>
</div>