<section id="section-blogs" style="display:none" class="mt-5">
    <h4>My blogs.</h4>
    <div class="row">
        {% if current_user.is_authenticated %} {% for item in blogs %}
        <div class="col-lg-12">
            <div class="card shadow-sm p-3 mb-3 bg-body rounded h-100 font-monospace">
                <div class="card-body">
                    <h5 class="card-title fw-bold" style="font-size:medium">{{item.post_title}}</h5>
                    <h6 class="card-subtitle mb-2 text-primary" style="font-size:x-small">
                        {{item.date_created[:16]}}, Author:
                        <span style="color: rgb(255, 0, 221)">{{current_user.first_name}}</span>
                    </h6>
                    <p class="card-text" style="font-size:small">{{item.post_content}}</p>
                    <!-- heart icon for likes.  -->
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                        <span id="likes-item-{{item.id}}">{{item.likes_count}}</span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
    <br>
</section>