{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content %}

<body class="text-center">
    <main>
        <section class="py-5 text-center container-fluid" id='home-page-section'>
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto" style='background-color: rgba(245, 245, 245, 0.312);'>
                    <h1 class="fw-light mb-3" id="h"></h1>

                    <p class="lead">Something short and leading about the collection below—its contents, the creator,
                        etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    <p>
                        <a href="#availableTeams" class="btn btn-primary my-2">Team Profiles</a>
                        <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
                    </p>
                    <script>
                        let para = document.getElementById('h');
                        let text = 'Welcome to sport.com';
                        let typingSpeed = 50;
                        
                        let charIndex = 0;

                        function startTyping(){
                            if(charIndex <= text.length){
                                document.getElementById('h').innerHTML +=text.charAt(charIndex);
                                charIndex++
                                setTimeout(startTyping, typingSpeed);
                            }
                        
                        }
                        setInterval(window.addEventListener('DOMContentLoaded', function () {
                            startTyping()

                        }), 1000)
                    </script>
                </div>
            </div>
        </section>
        <!-- dsplay available teams for registration. -->
        <section id="team-display">
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id='availableTeams'>
                        {% for item in available_teams %} {% include 'includes/team-more-info.html' %}
                        <div class="col">
                            <div class="card shadow-sm bg-body rounded h-100">
                                <svg class="bd-placeholder-img card-img-top" width="100%"
                                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%"
                                        fill="#eceeef" dy=".3em">{{item.name}}</text>
                                </svg>
                                <div class="card-body">
                                    <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dignissimos voluptatibus aliquam voluptate accusamus
                                        {{item.description}}</p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="btn">
                                            <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#teamMoreInfo-{{item.id}}">
                                                More info
                                            </button> {% if current_user.is_authenticated %}
                                            <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#teamMoreInfo">
                                                <a href="{{url_for('registration_page')}}"
                                                    style="text-decoration: none;color:black">Register</a>
                                            </button> {%else %}
                                            <a href="{{url_for('create_account_page')}}"
                                                class='btn btn-sm btn-outline-secondary'>Signup</a> {% endif %}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Year Formed:
                                            <span style="color:blue">{{item.year_formed}}</span></small>
                                        <small class="text-muted">Remaining Spots: <span style="color:blue">
                                                {{item.max_players}}
                                            </span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}